<div id="doggy-carousel" class="carousel slide" data-ride="carousel">
  <ul id="large-carousel" class="carousel-inner">
    <li class="active">
      <img src="assets/dog_reading.jpg" alt="Image 1">
    </li>
    <li>
      <img src="assets/aviator_pugg_large.jpg" alt="Image 2">
    </li>
    <li>
      <img src="assets/wrinkles.jpg" alt="Image 3">
    </li>
  </ul>
  <ul id="phone-carousel" class="carousel-inner">
    <li class="active">
      <img src="assets/dog_reading_small.jpg" alt="Image 1">
    </li>
    <li> 
      <img src="assets/pugg3x4.jpg" alt="Image 2">
    </li>
    <li>
      <img src="assets/wrinkles_small.jpg" alt="Image 3">
    </li>
  </ul>
</div>

