
  <div id="doggy-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"></ol>
    <ul class="carousel-inner">
      <li class="active">
        <img src="assets/king.jpg" alt="Image 1">
      </li>

      <li>
        <img src="assets/aviator_pugg.jpg" alt="Image 2">
      </li>

      <li>
        <img src="assets/wrinkle.jpg" alt="Image 2">
      </li>

    </ul>
  </div>
