<div id="doggy-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators"></ol>
  <ul class="carousel-inner">
    <li class="mobile-remove active">
      <img src="assets/king.jpg" alt="Image 1">
    </li>

    <li class="mobile-remove">
      <img src="assets/aviator_pugg.jpg" alt="Image 2">
    </li>

    <li class="mobile-remove">
      <img src="assets/wrinkle.jpg" alt="Image 3">
    </li>

    <li class="mobile-add active">
      <img src="assets/pugg3x4.jpg" alt="Image 1">
    </li>

    <li class="mobile-add"> 
      <img src="assets/bulldoginbath.jpg" alt="Image 2">
    </li>

    <li class="mobile-add">
      <img src="assets/puff3x4.jpg" alt="Image 3">
    </li>

  </ul>
</div>
