<%= render 'shared/nav' %>

<div class="landing-groomers">
  <div class="hero-section">
    <div class='copy-box-1'>
      <div id="mav-logo"></div>
      <hgroup>
        <h1>Advanced Project Management for Professional Dog <br style="display:none;">Groomers</h1>
        <p>You’ve managed their fleas. <br>Now invoice your fees!</p>
      </hgroup>
    </div>
  </div>

  <section id="middle-box">
    <div class="container">
      <div>
        <h1>MAVENLINK SOFTWARE HELPS YOU MAKE TIME FOR PUPPIES!</h1>
        <p>Mavenlink's advanced project management software empowers you to plan your poodle-primping and track your terrier-trimming -- all in one place. Our canine project management software provides unparalleled insight into the status of your grooming projects.</p>
        <div id="product-carousel" class="hide-on-phone">
          <%= render 'carousel' %>
        </div>
      </div>

      <div>
        <ul>
          <li><h1>LET MAVENLINK BE YOUR MOST LOYAL FRIEND</h1></li>
          <li>The dog will never eat your homework again!</li>
          <li>Free up more time to give bowser the skin care he needs.</li>
          <li>Track what hound dogs love the most.</li>
        </ul> 
        <img src="assets/dog-spa-cucumber.jpg">
      </div>
    </div>
  </section>

  <section id="demo-ask">
    <div class='container'>
      <h2>Ready to start growing your business?</h2>
      <a class="btn-green" href="">Get a Sales Demo<span>for a personal consultation</span></a>
    </div>
  </section>

</div>

<%= render 'shared/footer' %>