<div class="container">

  <%= render 'shared/nav' %>
  <article>
    <section>
      <div class='copy-box-1'>
        <hgroup>
          <h1>Advanced Project Management for Professional Dog Groomers</h1>
          <p>You’ve managed their fleas. Now invoice your fees!</p>
        </hgroup>
      </div>

    </section>

    <section id="middle-box">
      <div>
        <h1>THIS WILL BE THE FIRST FEATURE NAME</h1>
        <p>Mavenlink's advanced project management software empowers you to plan your poodle-primping and track your terrier-trimming -- all in one place. Our canine project management software provides unparalleled insight into the status of your grooming projects.</p>
        <div id="product-carousel" class="hide-on-phone">
          <%= render 'carousel' %>

        </div>
      </div>

      <div>
        <ul>
          <li><h1>THIS WILL BE THE SECOND FEATURE NAME</h1></li>
          <li>The dog will never eat your homework again!</li>
          <li>Free up more time to give bowser the skin care he needs.</li>
          <li>Track what hound dogs love the most.</li>
        </ul> 
        <img src="assets/cucumber_bowser.jpg">
      </div>

    </section>

    <section id="demo-ask">
      <h2>Ready to start growing your business?
        <a href=""><div class="btn-green">Get a Sales Demo</div></a>
      </h2>
      <span>for a personal consultation</span>
    </section>
  </article>

  
  <%= render 'shared/footer' %>

</div>