<div class="container">

  <%= render 'shared/nav' %>
  <article>
    <section>

      <div class='copy-box-1'>
        <header>Advanced Project Management for Professional Dog Groomers</header>
        <header>You’ve managed their fleas. Now invoice your fees!</header>
      </div>

    </section>

    <section id="middle-box">
      <div>
        <h1>THIS WILL BE THE FIRST FEATURE NAME</h1>
        <p>Mavenlink's advanced project management software empowers you to plan your poodle-primping and track your terrier-trimming -- all in one place. Our canine project management software provides unparalleled insight into the status of your grooming projects.</p>
        <div id="product-carousel" class="hide-on-phone">
          <%= render 'carousel' %>

        </div>
      </div>


      <div>
        <ul>
          <li><h1>THIS WILL BE THE SECOND FEATURE NAME</h1></li>
          <li>The dog will never eat your homework again!</li>
          <li>Blah blah blah</li>
          <li>Blah blah blah and more blah blah</li>
        </ul> 
        <img src="assets/cucumber_bowser.jpg">
      </div>

    </section>

    <section id="demo-ask">
      <h2>Ready to start growing your business?
        <a href=""><div>Get a Sales Demo</div></a> 
      </h2>
    </section>
  </article>

  
  <%= render 'shared/footer' %>

</div>