/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  position: relative;
}

/* line 10, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.6875;
  font-family: Georgia;
}
/* line 15, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
body .container {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 960px;
  margin: 0 auto;
}

/* line 23, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
h4 {
  margin-bottom: 10px;
}

/* line 27, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-small {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  color: gray;
  cursor: pointer;
}

/* line 35, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-white {
  background-color: #ffffff;
}

/* line 38, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-green {
  background-color: #444444;
}

/* line 42, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
article {
  width: 100%;
}

/* line 46, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
section:first-of-type {
  position: relative;
  background: url("king2.jpg") no-repeat -10px 0;
  width: 100%;
  height: 523px;
  margin-top: 180px;
}
/* line 52, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
section:first-of-type .copy-box-1 {
  position: absolute;
  padding: 0 20px 20px 20px;
  z-index: 1;
  top: 150px;
  left: 20%;
  width: 375px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 62, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
section:first-of-type .copy-box-1 hgroup h1 {
  font-size: 26px;
  line-height: 35px;
  margin: 15px 0 10px 0;
  color: #5392C9;
  font-weight: bold;
}
/* line 69, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
section:first-of-type .copy-box-1 hgroup p {
  font-size: 24px;
  margin-top: 0;
  font-weight: 500;
  line-height: 33px;
}

/* line 79, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box {
  padding: 40px 0px;
  width: 90%;
  margin: 0 auto;
}
/* line 83, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box #product-carousel {
  margin: 0 auto;
  width: 480px;
  height: 175px;
  overflow: hidden;
}
/* line 89, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) {
  padding-top: 80px;
}
/* line 91, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) ul {
  display: inline-block;
  padding: 0;
  margin-top: 0;
}
/* line 96, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) img {
  float: right;
  margin: 0 30px 40px 0;
  width: 350px;
}
/* line 101, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) li {
  margin-left: 20px;
}
/* line 103, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) li:first-of-type {
  list-style: none;
  margin-left: 0px;
}
/* line 108, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#middle-box div:nth-of-type(2) h1 {
  margin-top: 0;
  padding: 0;
}

/* line 115, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#demo-ask {
  position: relative;
  clear: right;
  background-color: #F1F1F1;
  width: 100%;
  color: #4F4F4F;
}
/* line 121, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#demo-ask h2 {
  display: inline-block;
  padding: 30px 0 30px 0;
  font-weight: 300;
  margin: 0;
}
/* line 127, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#demo-ask div {
  margin: 0 auto;
  width: 960px;
  height: 100px;
}
/* line 132, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#demo-ask a {
  display: inline-block;
  float: right;
  margin-top: 30px;
  text-align: center;
  padding-top: 5px;
  width: 180px;
  height: 32px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
/* line 145, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
#demo-ask span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  top: 70px;
  right: 332px;
}

/* line 154, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-small {
  width: 80px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}

/* line 162, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-white {
  background-color: #FFFFFF;
  color: #444444;
}
/* line 165, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-white:hover {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.72) 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.72)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.72) 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.72) 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.72) 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.72) 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/* line 176, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-green {
  color: #FFFFFF;
  background: -moz-linear-gradient(top, rgba(122, 172, 72, 0.7) 0%, #7aac48 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122, 172, 72, 0.7)), color-stop(100%, #7aac48));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122, 172, 72, 0.7) 0%, #7aac48 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122, 172, 72, 0.7) 0%, #7aac48 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122, 172, 72, 0.7) 0%, #7aac48 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(122, 172, 72, 0.7) 0%, #7aac48 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b37aac48', endColorstr='#7aac48',GradientType=0 );
  /* IE6-9 */
}
/* line 185, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/base.css.scss */
.btn-green:hover {
  background: -moz-linear-gradient(top, rgba(122, 172, 72, 0.37) 0%, #7aac48 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122, 172, 72, 0.37)), color-stop(100%, #7aac48));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122, 172, 72, 0.37) 0%, #7aac48 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122, 172, 72, 0.37) 0%, #7aac48 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122, 172, 72, 0.37) 0%, #7aac48 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(122, 172, 72, 0.37) 0%, #7aac48 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e7aac48', endColorstr='#7aac48',GradientType=0 );
  /* IE6-9 */
}
/* line 1, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
#doggy-carousel {
  position: absolute;
  height: 175px;
  position: relative;
  width: 480px;
}
/* line 6, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
#doggy-carousel ul {
  margin: 0;
  padding: 0;
}

/* line 12, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
.carousel-inner {
  width: 480px;
  height: 175px;
  position: relative;
  overflow: visible;
}

/* line 19, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
.carousel-inner li {
  display: none !important;
  position: absolute;
}

/* line 24, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
.carousel-inner .active {
  display: block !important;
}

/* line 28, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/carousel.css.scss */
.mobile-add {
  visibility: hidden;
}
/* line 1, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer {
  overflow: hidden;
  width: 100%;
  padding: 0 0 30px 0;
  background-color: #333333;
  color: #FFFFFF;
}
/* line 7, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot {
  padding-left: 20px;
  margin: 0 auto;
  width: 960px;
}
/* line 12, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot h3:nth-of-type(3) {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 16, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot .spacer {
  width: 160px;
  height: 160px;
  display: inline-block;
}
/* line 21, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot ul {
  float: left;
  width: 300px;
  padding-left: 0;
}
/* line 25, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot ul:last-of-type {
  width: 200px;
}
/* line 28, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot ul li {
  list-style: none;
}
/* line 30, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot ul li a {
  color: #bcb8b8;
  text-decoration: none;
}
/* line 37, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
footer .inner-foot ul span {
  font-weight: bold;
  font-size: 18px;
}

/* line 45, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
.phone i {
  background: url("main.png") no-repeat 0 0;
}

/* line 49, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
#social-icons i {
  background: url("main.png") no-repeat 0 0;
  border: 1px solid yellow;
  margin-right: 20px;
}

/* line 55, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/footer.css.scss */
i #i-facebook {
  background-position: 0 0;
}
/* Large desktop */
@media (min-width: 960px) {
  /* line 4, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  .lrg-nav {
    display: block !important;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 750px) and (max-width: 959px) {
  /* line 11, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body {
    font-size: 110%;
    margin: 0;
  }
  /* line 14, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container {
    width: 100% !important;
  }
  /* line 16, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container .lrg-nav {
    display: block !important;
  }
  /* line 18, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container .lrg-nav img {
    margin-right: 30px;
  }
  /* line 21, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container .lrg-nav li {
    margin-right: 30px !important;
  }

  /* line 27, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  ul.spacer {
    display: none !important;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 34, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body {
    font-size: 110%;
    margin: 0;
  }
  /* line 37, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container {
    width: 100% !important;
  }

  /* line 41, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  article section:first-of-type {
    margin-top: 0 !important;
  }

  /* line 44, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav {
    padding: 8px !important;
    position: relative !important;
    height: 70px !important;
  }
  /* line 49, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav .sm-nav {
    position: relative !important;
    clear: right !important;
    padding: 0px !important;
  }
  /* line 54, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav .sm-nav ul {
    padding: 0 !important;
  }
  /* line 57, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav .sm-nav ul a {
    text-align: center !important;
  }
  /* line 59, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav .sm-nav ul a li {
    margin-left: 10px !important;
  }
  /* line 66, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  nav #nav-icon {
    display: block !important;
  }

  /* line 71, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  .outer-nav {
    display: none !important;
  }

  /* line 75, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container {
    height: 100px;
    width: 100% !important;
  }
  /* line 78, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container h2 {
    padding: 10px 0 0px 20px;
  }
  /* line 81, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container a {
    width: 100%;
    height: 40px;
    margin: 20px 0;
  }
  /* line 86, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container span {
    display: none;
  }

  /* line 91, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  ul.spacer {
    display: none !important;
  }

  /* line 95, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  footer ul {
    width: 260px !important;
  }
  /* line 97, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  footer ul:last-of-type {
    width: 100% !important;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 107, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body {
    font-size: 100%;
    margin: 0;
  }
  /* line 110, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  body .container {
    width: 100% !important;
    margin: 0 auto !important;
  }

  /* line 115, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  section:first-of-type {
    height: 320px !important;
    overflow: hidden;
  }
  /* line 118, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  section:first-of-type .copy-box-1 {
    left: 8% !important;
    top: 50px !important;
  }

  /* line 123, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #product-carousel {
    width: 300px !important;
    height: 400px !important;
  }
  /* line 127, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #product-carousel #doggy-carousel .mobile-add {
    visibility: visible;
  }
  /* line 130, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #product-carousel #doggy-carousel .mobile-remove {
    display: none !important;
  }
  /* line 133, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #product-carousel #doggy-carousel .mobile-remove:active {
    display: block !important;
  }

  /* line 138, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #middle-box div:nth-of-type(2) {
    padding-top: 40px !important;
  }

  /* line 139, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #middle-box div:nth-of-type(2) img {
    margin: 0 0 30px 30px !important;
  }

  /* line 143, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container {
    height: 200px;
    width: 100% !important;
  }
  /* line 146, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container h2 {
    padding-left: 20px;
  }
  /* line 149, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  #demo-ask .container a {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }

  /* line 157, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  footer .span4 {
    width: 100% !important;
  }
  /* line 160, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  footer ul {
    margin: 0;
    padding-left: 0;
  }
  /* line 163, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/media.css.scss */
  footer ul li {
    margin-bottom: 10px !important;
  }
}
/* line 1, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav {
  position: fixed;
  top: 0;
  z-index: 111;
  overflow: visible;
  height: 80px;
  padding: 5px 0;
  width: 100%;
  background-color: #0A2541;
  color: #FFFFFF;
}
/* line 11, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav {
  display: none;
  padding: 10px 0;
  width: 960px;
  margin: 0 auto;
  font-size: 18px;
}
/* line 17, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav img {
  float: left;
  margin-right: 196px;
  margin-left: -46px;
  display: inline-block;
}
/* line 23, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul {
  margin: 0;
  padding: 0;
  padding-top: 14px;
}
/* line 27, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul li {
  float: left;
  margin-right: 60px;
  display: inline-block;
}
/* line 31, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 36, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul li:nth-of-type(3) {
  margin-right: 48px;
}
/* line 39, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul li:nth-of-type(4) {
  margin-right: 30px;
}
/* line 42, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
nav .inner-nav ul li:nth-of-type(5) {
  margin-right: 0;
}

/* line 49, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#nav-icon {
  display: none;
  padding: 10px;
  float: right;
}

/* line 55, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.sm-nav {
  position: absolute;
  background-color: #0A2541;
  z-index: 11111;
}
/* line 59, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.sm-nav img {
  display: block;
}
/* line 62, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.sm-nav ul {
  margin: 0;
}
/* line 64, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.sm-nav ul a {
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 40px;
  margin-bottom: 10px;
}

/* line 74, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.outer-nav {
  position: fixed;
  z-index: 11111;
  top: 80px;
  height: 110px;
  width: 100%;
  background-color: #EBEBEB;
}
/* line 81, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.outer-nav .container {
  width: 1000px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
/* line 86, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.outer-nav .container figure {
  text-align: center;
  width: 140px;
  display: inline-block;
  margin: 0 20px;
  line-height: 20px;
}
/* line 92, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.outer-nav .container figure i {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url("main.png") no-repeat;
}
/* line 99, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
.outer-nav .container figure figcaption {
  font-weight: 400;
}

/* line 105, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#advan-man {
  background-position: 0 -2512px;
}

/* line 109, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#finan-man {
  background-position: 0 -2398px;
}

/* line 113, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#time-man {
  background-position: 0 -2238px;
}

/* line 117, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#res-man {
  background-position: 0 -1556px;
}

/* line 121, /Users/paulette/Desktop/mavenlink/app/assets/stylesheets/nav.css.scss */
#anal-man {
  background-position: 0 -1889px;
}
