<div class="nav">

<div class='inner-nav lrg-nav'>
   <div id="nav-mav-logo"></div>
   <div id="quick-contact">Sales (888) 281-5902</div>
   <ul>
    <li><%= link_to 'Tour' %></li>
    <li><%= link_to 'Pricing' %></li>
    <li><%= link_to 'Demo' %></li>
    <li><a href=''><div class='btn-small btn-white'>Log In</div></a></li>
    <li><a href=''><div class='btn-small btn-green'>Sign Up</div></a></li>
  </ul>
</div>


<a href=""><img id="nav-icon" src="assets/menu-icon.png"></a>

<div class='inner-nav sm-nav'>
  <ul>
    <a href=""><li>Tour</li></a>
    <a href=""><li>Pricing</li></a>
    <a href=""><li>Demo</li></a>
    <a href=""><li>Log In</li></a>
    <a href=""><li>Sign Up</li></a>
  </ul>
</div>

</div>

<div class="outer-nav">
  <div class="container">
    <figure>
      <a href=""><i id="advan-man"></i>
      <figcaption>Advanced Project Management</figcaption>
    </a>
    </figure>

    <figure>
      <a href=""><i id="finan-man"></i>
      <figcaption>Financial<br>Management</figcaption>
    </a>
    </figure>

    <figure>
      <a href=""><i id="time-man"></i>
      <figcaption>Timeline<br>Management</figcaption>
      </a>
    </figure>

    <figure>
      <a href=""><i id="res-man"></i>
      <figcaption>Resource<br>Management</figcaption>
      </a>
    </figure>

    <figure>
      <a href=""><i id="anal-man"></i>
      <figcaption>Analytics and Reporting</figcaption>
      </a>
    </figure>
  </div>
</div>