html {
  margin: 0px;
  padding: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin: 0 20px;
  font-size: 100%;
  line-height: 1.6875;
  font-family:Georgia;
  .container {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 960px;
    margin: 0 auto;
  }
}

h4 {
  margin-bottom: 10px;
}

.btn-small {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  color: gray;
  cursor: pointer;
}

.btn-white {
  background-color: #ffffff;
}
.btn-green {
  background-color: #444444;
}

.span4 {
  width: 200px;
}

.spacer {
  width: 140px;
  height: 160px;
  display: inline-block;
}

article {
  width: 100%;
}

section:first-of-type {
  background: url('king2.jpg') no-repeat;
  width: 100%;
  height: 300px;
  .copy-box-1 {
    position: absolute;
    padding: 0 20px 20px 20px;
    z-index: 1;
    top: 150px;
    left: 26%;
    width: 305px;
    height: 170px;
    background-color: rgba(255,255,255,.8);
    hgroup {
      h1 {
        font-size: 20px;
        margin: 10px 0 10px 0;
        color: #5392C9;
        font-weight: bold;
      }
      p {
        margin-top: 0;
        font-weight: 500;
      }
    }
  }
}

#middle-box {
  width: 90%;
  margin: 0 auto;  
  
  #product-carousel {
    margin: 0 auto;
    width: 480px;
    height: 175px;
  }
  div:nth-of-type(2) {
    padding-top: 80px;
    ul {
      display: inline-block;
      padding: 0;
      margin-top: 0;
    }
    img {
      float: right;
      margin-bottom: 20px;
    }
    li {
      margin-left: 20px;
      &:first-of-type {
        list-style: none;
        margin-left: 0px;
      }
    }
    h1 {
      margin-top: 0;
      padding: 0;
    }
  }
}

#demo-ask {
  position: relative;
  clear: right;
  background-color: #F1F1F1;
  width: 100%;
  color: #4F4F4F;
  h2 {

    padding: 30px;
    font-weight: 300;
    margin: 0;
  }
  div {
    text-align: center;
    padding-top: 5px;
    width: 180px;
    height: 32px;
    border-radius: 2px;
    float: right;
    font-size: 16px;
    font-weight: bold;
  }
  span {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 41px;
    top: 70px;
  }
} 

.btn-small {
  width: 80px;
  height: 32px;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
}

.btn-white {
  background-color: #FFFFFF;
  color: #444444;
  &:hover {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.72) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.72)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.72) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.72) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.72) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.72) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.btn-green {
  color: #FFFFFF;;
  background: -moz-linear-gradient(top,  rgba(122,172,72,0.7) 0%, rgba(122,172,72,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,172,72,0.7)), color-stop(100%,rgba(122,172,72,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(122,172,72,0.7) 0%,rgba(122,172,72,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(122,172,72,0.7) 0%,rgba(122,172,72,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(122,172,72,0.7) 0%,rgba(122,172,72,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(122,172,72,0.7) 0%,rgba(122,172,72,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37aac48', endColorstr='#7aac48',GradientType=0 ); /* IE6-9 */
  &:hover {
    background: -moz-linear-gradient(top,  rgba(122,172,72,0.37) 0%, rgba(122,172,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,172,72,0.37)), color-stop(100%,rgba(122,172,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,172,72,0.37) 0%,rgba(122,172,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,172,72,0.37) 0%,rgba(122,172,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,172,72,0.37) 0%,rgba(122,172,72,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,172,72,0.37) 0%,rgba(122,172,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e7aac48', endColorstr='#7aac48',GradientType=0 ); /* IE6-9 */
  }
}
