/* Large desktop */
@media (min-width: 960px) {  
  .lrg-nav {
    display: block !important;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 750px) and (max-width: 959px) { 
  body { 
    font-size:110%;
    margin: 0;
    .container {
      width: 100% !important;
      .lrg-nav {
        display: block !important;
        img {
          margin-right: 30px;
        }
        li {
          margin-right: 30px !important;
        }
      }
    }

  }
  
  ul.spacer {
    display: none !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body { 
    font-size:110%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  nav {
    height: 70px !important;
    .inner-nav {
      padding-top: 0px !important;
      li {
        margin-left: 10px !important;
      }
    }
    #nav-icon {
      display: block !important;
    }
  }
  ul.spacer {
    display: none !important;
  }
  footer {
    /*height: 380px !important;*/
    ul {
      width: 260px !important;
      &:last-of-type {
        width: 100% !important;
      }

    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  body { 
    font-size:120%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  .carousel {
    width: 300px !important;
    height: 300px !important;
    overflow: visible;
    .inner-carousel {
      width: 300px !important;
      height: 300px !important;
    }
    img {
      display: none;
    }
  }
  #middle-box div:nth-of-type(2) img {
    margin-right: 30px !important;
  }
  #demo-ask {
    width: 100% !important;
    height: 160px !important;
    a {
      width: 100%;
      margin: 20px 0 40px 0;
    }
  }
  
  footer {
    .span4 {
      width: 100% !important;
    }
    ul {
      margin: 0;
      padding-left: 0;
      li {
        margin-bottom: 10px !important;
      }
    }
  }
}