/* Large desktop */
@media (min-width: 960px) {  
  .lrg-nav {
    display: block !important;
  }
  .sm-nav {
      display: none !important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 750px) and (max-width: 959px) { 
  body { 
    font-size:120%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  section:first-of-type {
    background: url('king3.jpg') no-repeat -300px 0 !important;
  }
  .lrg-nav {
    display: block !important;
    img {
      margin-right: 80px !important;
    }
    li {
      margin-right: 30px !important;
    }
  }
  .outer-nav {
    height: 130px !important;
    figure {
      width: 100px !important;
    }
  }
  ul.spacer {
    display: none !important;
  }
  .sm-nav {
      display: none !important;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body { 
    font-size:110%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
  section:first-of-type {
    margin-top: 0 !important;
    background: url('king3.jpg') no-repeat -400px 0 !important;
  }
  nav {
    position: relative !important;
    height: 70px !important;
    .sm-nav {
      position: relative !important;
      clear: right !important;
      padding: 0px !important;
      ul {

        padding: 0 !important;
        a {
          text-align: center !important;
          li {
            margin-left: 10px !important;
          }
        }
      }
    }

    #nav-icon {
      display: block !important;
    }
  }

  .outer-nav {
    display: none !important;
  }
  #demo-ask {
    .container {
      text-align: center;
      height: 100px;
      width: 100% !important;
      margin-bottom: 100px;
      h2 {
        padding: 10px 0 0px 20px;
      }
      a {
        width: 100%;
        height: 40px;
        margin: 20px 0; 
      }
      span {
        margin-top: 40px !important;
        font-size: 12px !important;
      }
    }
  }
  ul.spacer {
    display: none !important;
  }
  footer {
    ul {
      width: 260px !important;
      &:last-of-type {
        width: 100% !important;
      }

    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  body { 

    font-size:100%;
    margin: 0;
    .container {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }

  section:first-of-type {
    background: url('king2.jpg') no-repeat -560px -40px !important;
    height: 320px !important;
    overflow: hidden;
    .copy-box-1 {
      left: 5% !important;
      height: 210px !important;
      top: 50px !important;
      h1 {
        font-size: 25px !important;
        br {
          display: block !important;
        }
      }
      p {
        font-size: 18px !important;
        line-height: 24px !important;
      }
    }
  }
  #product-carousel {
    width: 300px !important;
    height: 400px !important;
    #doggy-carousel {
      .mobile-add {
        visibility: visible;
      }
      .mobile-remove {
        display: none !important ;
      }
      .mobile-remove:active {
        display: block !important ;
      }
    }
  }
  #middle-box div:nth-of-type(2) {
    padding-top: 40px !important;
  }
  #middle-box div:nth-of-type(2) img {
    margin: 0 0 30px 30px !important;
  }
  #demo-ask {
    .container {
      height: 100px;
      width: 100% !important;
      margin-bottom: 100px !important;
      text-align: center;
      h2 {
        padding-left: 0px !important;
      }
      a {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
      }
    }
  }
  footer {
    .span4 {
      width: 100% !important;
    }
    ul {
      width: 100% !important;
      margin: 0;
      padding-left: 0;
      li {
        font-size: 80% !important;
        margin-bottom: 10px !important;
      }
    }
  }
}