nav {
  position: fixed;
  top: 0;
  z-index: 11111;
  overflow: visible;
  height: 80px;
  padding: 5px 0;
  width: 100%;
  background-color: #0A2541;
  color: #FFFFFF;
  .inner-nav {
    display: none;
    padding: 10px 0;
    width: 960px;
    margin: 0 auto;
    font-size: 15px;
    img {
      float: left;
      margin-right: 196px;
      margin-left: -46px;
      display: inline-block;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-top: 14px;
      li {
        float: left;
        margin-right: 60px;
        display: inline-block;
        a {
          color: #FFFFFF;
          text-decoration: none;
        }

      }
      li:last-of-type {
        margin: 0;
      }
    }
  }
}

#nav-icon {
  display: none; 
  padding:10px;
  float: right;
}

.nav-last {
  margin-right: 0px !important;
}

.sm-nav {
  position: absolute;
  background-color: #7BAA33;
  height: 400px;
  z-index: 11111;
  img {
    display: block;
  }
  ul {
    margin: 0;
    padding: 20px;
    text-align: right;
    width: 100%;
    li {
      width: 100%;
      padding: 10px 0px;
      border-bottom:1px solid #CCCCCC;

    }
  }
}

.outer-nav {
  height: 200px;
  width: 100%;
  background-color: #cccccc;
}
