nav {
  position: relative;
  overflow: visible;
  min-height: 60px;
  width: 100%;
  background-color: #0A2541;
  color: #FFFFFF;
  .inner-nav {
    display: none;
    padding-top: 10px;
    width: 960px;
    margin: 0 auto;
    img {
      float: left;
      margin-right: 75px;
      margin-top: -5px;
      display: inline-block;
    }
    ul {
      height: 30px;
      margin: 0;
      margin-top: 25px;
      padding: 0;
      li {
        float: left;
        margin-right: 20px;
        display: inline-block;
        a {
          color: #FFFFFF;
          text-decoration: none;
        }
        button {
          width: 80px;
          height: 30px;
          border-radius: 5px;
          background-color: #FFFFFF;
          color: #444444;
        }
      }
    }
  }
}

#nav-icon {
  display: none; 
  padding:10px;
  float: right;
}

.sm-nav {
  background-color: green;
  position: absolute; 
  z-index: 111;
  width:400px;
  
  ul {
  clear: both;
    
    margin: 0;
    padding: 20px;
    li {
      display: block; 
      width: 100%;
      padding: 10px 0px;
      border-bottom:1px solid #CCCCCC;
    }
  }
}


