.nav {
  position: fixed;
  top: 0;
  z-index: 11111;
  overflow: visible;
  height: 90px;
  padding: 5px 0;
  width: 100%;
  background-color: #0A2541;
  color: #FFFFFF;
  .inner-nav {
    display: none;
    padding: 10px 0;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    #nav-mav-logo {
      width: 230px;
      height: 45px;
      background: url('main.png') no-repeat 0 -2358px;
      overflow: hidden;
      float: left;
      margin: 5px 237px 0 -10px;
      display: inline-block;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-top: 14px;
      li {
        float: left;
        margin-right: 60px;
        display: inline-block;
        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }
      li:nth-of-type(3) {
        margin-right: 48px;
      }
      li:nth-of-type(4) {
        margin-right: 26px;
      }
      li:nth-of-type(5) {
        margin-right: 0;
      }
    }
  }
}

#nav-icon {
  display: none; 
  padding:10px;
  float: right;
}

.sm-nav {
  position: absolute;
  background-color: #0A2541;
  z-index: 11111;
  height: 330px;

  img {
    display: block;
  }
  ul {
    margin: 0;

    li {
      text-align: center;
    }
    a {
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 35px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 20px;
    }
  }
}

.outer-nav {
  position: fixed;
  z-index: 11111;
  top: 90px;
  height: 110px;
  width: 100%;
  background-color: #EBEBEB;
  .container {
    width: 1000px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    figure {
      text-align: center;
      width: 140px;
      display: inline-block;
      margin: 0 20px;
      line-height: 20px;
      i {
        display: inline-block;
        width: 60px;
        height: 60px;
        overflow: hidden;
        background: url('main.png') no-repeat;
      }
      figcaption {
        font-weight: 400;
      }
    }
  }
}
#advan-man {
  background-position: 0 -2512px;
}

#finan-man {
  background-position: 0 -2398px;
}

#time-man {
  background-position: 0 -2238px;
}

#res-man {
  background-position: 0 -1556px;
}

#anal-man {
  background-position: 0 -1889px;
}